{% extends 'base.html.twig' %}

{% block title %}New Registration{% endblock %}

{% block body %}
    <h1>Create new Registration</h1>

    {{ include('registration/_form.html.twig') }}

    <a href="{{ path('registration_index') }}">back to list</a>
{% endblock %}
